<h1>IoT Parkhaus</h1>
<div>
  <!--   <div *ngIf="analogValue !== undefined">
    <h3 style="display: inline">Message:</h3>
    <p>{{ analogValue }}</p>
  </div> -->

  <app-barrier-entry></app-barrier-entry>
  <div class="buttonWrapper">
    <button *ngIf="!isConnection" (click)="createConnection()" class="Connect">
      Connect to MQTT Broker
    </button>

    <div class="PubSub">
      <div class="button">
        <button (click)="doPublish()" class="Publish">Publish</button>
      </div>
      <div class="button">
        <button (click)="doSubscribe()" class="Subscribe">Subscribe</button>
      </div>
    </div>
    <button (click)="destroyConnection()" class="Disconnect">Disconnect</button>
  </div>
</div>
