<div>
  <button (click)="createConnection()">Connect to MQTT Broker</button>
  <div *ngIf="isConnection">
    <p>Connected</p>
    <div *ngIf="analogValue !== undefined">
      <h3 style="display: inline">Message:</h3>
      <p>{{ analogValue }}</p>
      <!-- Directly display the analog value -->
    </div>
  </div>
  <div *ngIf="!isConnection">
    <p>Not Connected</p>
  </div>
  <div>
    <button (click)="doPublish()">Publish Message</button>
  </div>
  <div>
    <button (click)="doSubscribe()">Subscribe Topic</button>
  </div>
  <div>
    <button (click)="destroyConnection()">Disconnect</button>
  </div>
</div>
<app-holiday></app-holiday>
